html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    outline: none;
}

div {
    transition: all .2s ease;
}

.hidden {
    height: 0px;
    opacity: 0;
}

.header {
    height: 75px;
    padding: 7px 10%;
    font-size: 0;
    background-color: #eee;
}

.header > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

div.menu-content {
    display: block;
    margin-top: .5em;
    position: relative;
}

.logo {
 width: 10%;
}

    .logo > img {
        height: 75px;
        width: auto;
        position: relative;
        display: block;
    }

div.slogan {
    width: calc(85% - 2%);
    font-size: 26px;
    line-height: 2;
    padding-left: 2%;
}

div.menu-buttons {
    width: 5%;
    text-align: right;
    font-size: 18px;
}
div.menu-buttons i {
    font-size: inherit;
}

#search-button, #menu-button {
    border: none;
    background: none;
    color: #3f3fc1;
    cursor: pointer;
}

    #search-button > i, #menu-button > i {
        font-size: 19px;
    }

#menu-search-field {
    border: 2px solid #d6d6d6;
    border-radius: 4px;
    overflow: hidden;
}

#search-text {
    font-size: 18px;
    line-height: 2.5em;
    padding: 0 .5em;
    border: 0;
}

#menu-nav-list {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1000;
    padding: 0px 25px;
    border: 1px solid #eee;
    border-radius: 3px;
}

    #menu-nav-list ul {
        list-style-type: none;
        text-align: right;
        font-size: 18px;
        line-height: 1.5;
        padding: 0;
        min-width: 250px;
    }

    #menu-nav-list ul a {
        text-decoration: none;
        color: #000;
    }

        #menu-nav-list ul li:not(:last-child) {
            border-bottom: 1px solid #eee;
        }

    #menu-nav-list ul li {
        padding: .5em 0;
    }

